[run]
source =
        /Users/rbakare/knurld_sdk/knurld_sdk/

omit =
        *__init__.py
        *dogpile/*
        *requests/*
        *ctypes*
        */usr/local/Cellar/python/*
        *simplejson*
        *urllib3/*
        *dropbox/*
        *six.py
